@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');


body {
    width: 100vw;
    height: auto;
    margin: 0%;
    margin-right: 1%;
    padding-right: 0px;
    box-sizing: border-box;
    background-color: whitesmoke;
    font-family: 'Akaya Kanadaka', cursive;
}
/* --------------------------- Header --------------------------------*/
header {
    width: 100%;
    height: auto;
    position: relative; 
    max-height: 20%;
}


.banner {

     width: 100%;
     padding: 0%;
     margin: 0%;
     height: auto;
     max-height: 25rem;
} 

h1 {
    font-family: 'Akaya Kanadaka', cursive;
    font-size: 5em;
}

h2 {
    font-family: 'Akaya Kanadaka', cursive;
}
.logo {
    justify-content: space-between;
    width: 100%;
}

@keyframes loop {
    0% { transform: rotate(0deg); }

    100% { transform: rotate(360deg); }
}


.logo > img {
    
    border-radius: 50%;
    max-width: 12%;
    animation: 4s infinite normal running loop;
    height: 20%;
    width: 20%;
}
/* ------------------------------------------------------------------*/

.navStyle {
    background-color: rgba(0, 0, 0, 0.74);
    width: 100%;
}

.asideTitle {
    background-color: rgb(248, 239, 112);
    color: black;
    font-size: 100%;
    height: 34px;
    text-align: center;

}

.intro {
    background-image: url(img/eyes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    color: white;
    font-size: 1em;
    font-family: 'Akaya Kanada', cursive;
}

.intro h1 {
    color : goldenrod;
}


    
/* ------------------ FOOTER ------------------*/
footer {
    border-top: 1px solid lightgray;
    font-size: 15px;
    margin-top: 0;
}

footer h5 {
    color: goldenrod;
    text-align: center;
}
footer a {
    text-decoration: none;
    color: black;
}

footer ul {
    list-style-type: none;
    text-align: start;
}

@media  screen and (min-width: 1px) {
    
}


/* --------- Event page -------*/

 .eventContent {
     background-image: url(img/event.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     font-family: 'Akaya Kanadaka', cursive;
    }

 .eventContent h1 {
     text-align: center;
     font-family: 'Monoton', cursive;
     font-size: 3em;
     color: goldenrod;
 }

 .eventCards {
    width: 100%;
    height: auto;
    border-radius: 2%;
    display : flex;
    background-color: rgba(252, 249, 249, 0.8);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    text-align: center;
    margin-top: 5%;
    padding-bottom: 5%;
 }

 .vitrine {
     display: flex;
     justify-content: space-around;
 }
 
 .cardNumber2 {
    background-image: url(img/summerNight.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
 }
 .cardNumber2 button {
     background-color: whitesmoke;
     
 }

 .eventDate {
    align-self: flex-end;
 }

 .eventCards img {
    width: 33%;
    border-radius: 50%;
    padding: 2px;
 }

button {
    background-color: goldenrod;
    border-radius: 5%;
    font-size: 1em;
}