body {
    width: 100vw;
    height: auto;
    margin: 0%;
    margin-right: 0px;
    padding-right: 0px;
    box-sizing: border-box;
}
/* --------------------------- Header --------------------------------*/
header {
    width: 100%;
    height: auto;
    position: relative; 
    max-height: 20%;
}


.banner {

     width: 100%;
     padding: 0%;
     margin: 0%;
     height: auto;
     max-height: 25rem;
} 

@media screen {
    
}

h1 {
    margin-left: 10px;
    color: aliceblue;
    display: flex;
    align-items: flex-end;
    height: auto;
    max-height: 20em;
}

.logo {
    justify-content: space-between;
    width: 100%;
}

@keyframes loop {
    0% { transform: rotate(0deg); }

    100% { transform: rotate(360deg); }
}


.logo > img {
    
    border-radius: 50%;
    max-width: 12%;
    animation: 4s infinite normal running loop;
    height: 20%;
    width: 20%;
}
/* ------------------------------------------------------------------*/

.navStyle {
    background-color: rgba(0, 0,0, 0.650);
    width: 100%;
}

.asideTitle {
    background-color: rgb(253, 174, 2);
    color: black;
    font-size: 100%;
    height: 34px;
    text-align: center;

}
    
/* ------------------ FOOTER ------------------*/
footer {
    width: 90%;

}
.bubbleFoot {
    background-color: aliceblue;
}